<div class="row center-xs">
  <div class="col-xs-8 col-md-6">
    <div class="box text-left">
			<h2>Forgot your password?</h2>

			<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
			  <%= render "devise/shared/error_messages", resource: resource %>

			  <div class="field">
			    <%= f.label :email, "Correo Electronico" %><br />
			    <%= f.email_field :email, autofocus: true, autocomplete: "email" , class:"form-control" %>
			  </div>

			  <div class="actions">
			    <%= f.submit "Enviar Instrucciones", class:"btn be-red white"  %>
			  </div>
			<% end %>

			<div class="actions">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
